@import "../basic/color";
#about{
    //min-height: 100vh;
    
    .about-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;       

    }
    .content-service{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        .service-item{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            padding: 5px;
            background:$blue;
            border-radius: 50%;
            img{
                width: 80%;
            }
        }
        h4{
            font-size: 18px;
        }
    }
}